<section class="section">
    <div class="container mt-5">
        <h1 class="title">
          swingCRM
        </h1>
        <p class="subtitle">
          The number 1 CRM system for passing the SWING class. Recommended by 9 out of 10 dentists.
        </p>
    </div>
  </section>